.comment
  = link_to image_tag(comment.author.avatar.url(:thumb)) , user_path(comment.author)
  - if comment.author.gender == 'male'
    .user-color-panel-thumb.blue
  - elsif comment.author.gender == 'female'
    .user-color-panel-thumb.pink
  - else
    .user-color-panel-thumb.black
  .comment-author
    %span.author= link_to comment.author, user_path(comment.author)
    = "#{time_ago_in_words(comment.created_at)} ago"
    = link_to "DOWN #{comment.downvotes_count}", comment_votes_path(comment, value: -1), method: :post, class: 'pull-right vote'
    = link_to "UP #{comment.upvotes_count}", comment_votes_path(comment, value: 1), method: :post, class: 'pull-right vote'
  .comment-body
    = comment