.col-xs-8
  = simple_form_for comment, url: categories_show_post_comments_path(post.category.name, post) do |form|
    = form.input :body, label: false

    = form.submit 'Save', class: 'btn btn-default'