= simple_form_for :conversation, url: :conversations do |f|
  = f.input :recipients, as: :hidden, :input_html => { :value => params[:target] }
  = f.input :subject
  = f.input :body, as: :text
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = f.button :submit, 'Cancel', type: :reset, class: 'btn-danger'