= image_tag user.avatar.url(:medium)
%h2.user-panel= user
- if user.gender == 'male'
  .user-color-panel.blue
- elsif user.gender == 'female'
  .user-color-panel.pink
- else
  .user-color-panel.black

- unless current_user == user

  = link_to 'Send message', new_conversation_path(target: user)
  %br

  - if current_user.following?(user)
    = link_to 'Unfollow', user_unfollow_path(user), method: :post
  - else
    = link_to 'Follow', user_follow_path(user), method: :post

  %br
  - if current_user.blacklisted?(user)
    = link_to 'Remove from blacklist', user_remove_from_blacklist_path(user), method: :post
  - else
    = link_to 'Add to blacklist', user_add_to_blacklist_path(user), method: :post

  %br
  = link_to 'Ban user', new_user_ban_path(user)
- else
  = link_to 'edit user', edit_user_registration_path
%br

%h4 Achievements
%ul
  - user.achievements.each do |achievement|
    %li= achievement.title


%h4= "#{user.followers.count} Followers"
%ul
  - user.followers.each do |follower|
    %li.following-rel-pics
      = link_to image_tag(follower.avatar.url(:thumb)) , user_path(follower)
      = link_to follower, user_path(follower)
      - if follower.gender == 'male'
        .user-color-panel-thumb.blue
      - elsif follower.gender == 'female'
        .user-color-panel-thumb.pink
      - else
        .user-color-panel-thumb.black

%h4= "#{user.followed_users.count} Following"
%ul
  - user.followed_users.each do |followed_user|
    %li.following-rel-pics
      = link_to image_tag(followed_user.avatar.url(:thumb)) , user_path(followed_user)
      = link_to followed_user, user_path(followed_user)
      - if followed_user.gender == 'male'
        .user-color-panel-thumb.blue
      - elsif followed_user.gender == 'female'
        .user-color-panel-thumb.pink
      - else
        .user-color-panel-thumb.black