%table.table.table-striped.table-hover
  %tbody
    - posts.each do |post|
      %tr
        %td.votes
          = button_to categories_show_post_votes_path(post.category.name, post, value: 1), class: 'btn btn-default btn-xs' do
            %span.glyphicon.glyphicon-chevron-up
          = button_to categories_show_post_votes_path(post.category.name, post, value: -1), class: 'btn btn-default btn-xs' do
            %span.glyphicon.glyphicon-chevron-down
        %td.votes-count
          = post.votes_differential
        %td
          = link_to post.title, post.link, class: 'post-title'
          = "(#{URI.parse(post.link).host})"
          .post-author
            = "submitted #{time_ago_in_words(post.created_at)} ago by "
            = link_to post.author, user_path(post.author)
            = ' to '
            = link_to post.category, categories_show_path(post.category.name)
          .comments-count
            = link_to "#{pluralize(post.comments_count, 'comment')}", categories_show_post_path(post.category.name, post)