%table
  %tbody
    %td.votes
      = button_to categories_show_post_votes_path(post.category, post, value: 1), class: 'btn btn-default btn-xs' do
        %span.glyphicon.glyphicon-chevron-up
      = button_to categories_show_post_votes_path(post.category, post, value: -1), class: 'btn btn-default btn-xs' do
        %span.glyphicon.glyphicon-chevron-down
    %td.votes-count
      = post.calculate_votes
    %td
      %h3.post-title
        = link_to post.title, post.link

.post-author.main
  = "submitted #{time_ago_in_words(post.created_at)} ago by "
  %span.author= link_to post.author, user_path(post.author)

  - if post.author == current_user && post.editable?(current_user)
    = link_to 'Edit', edit_post_path(post), class: 'btn btn-default btn-xs'
  - elsif post.author == current_user
    = link_to 'Edit', edit_post_path(post), class: 'btn btn-default btn-xs', disabled: 'disabled'

%h5.comments
  = "#{pluralize(post.comments.count, 'comment')}"

= render 'comments/form'

.col-xs-8
  .comments
    - if current_user && current_user.banned?('shadowban')
      = render (post.comments.exclude_shadowbanned + post.comments.where(author: current_user)).sort_by(&:created_at).reverse
    - else
      = render post.comments.exclude_shadowbanned
