@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 80px;
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
}

.post-title {
  font-weight: bold;
}

h3.post-title {
  margin-top: 0px;
}

.post-author {
  font-size: 0.7em;
}

.post-author.main {
    margin-top: 20px;
}

.comments-count {
  font-size: 0.7em;
  font-weight: bold;
}

h5.comments {
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: 1px #777777 solid;
}

.comment {
  margin: 10px 0px 15px 0px;
}

.comments {
  margin-top: 30px;
}

.author {
  font-weight: bold;
}

.comment-author {
  font-size: 0.7em;
  border-bottom: 1px #cccccc solid;
  margin-left: 55px;
  margin-top: -40px;
}

.comment-body {
  margin-left: 55px;
}

.votes {
  padding: 0px;
  width: 50px;
}

.votes-count {
  font-size: 1.5em;
  font-weight: bold;
  width: 50px;
  vertical-align: middle !important;
}

.glyphicon {
  font-size: 0.6em;
}

.user-panel {
  display: inline-block;
  font-weight: bold;
  font-size: 2em;
  margin-left: 20px;
  margin-bottom: 0px;
}

li.following-rel-pics {
  margin-top: 10px;
}

.user-color-panel {
  width: 150px;
  height: 3px;
  margin-top: 3px;
  padding: 0px;
}

.user-color-panel-thumb {
  width: 40px;
  height: 2px;
  margin-top: 2px;
  padding: 0px;
}

.blue {
  background-color: blue;
}

.pink {
  background-color: pink;
}

.black {
  background-color: black;
}

.vote {
  padding-right: 10px;
}

.category_info {
  margin-top: 50px;
}