%h2= category

- if current_user
  = render "posts/posts", posts: category.posts.order('created_at DESC')
- else
  = render 'posts/posts', posts: category.posts
/= paginate category.posts

- content_for :right do
  %p.category_info
    %b Category informations
    %div= "category owner: " + category.owner.to_s
    %div= 'created at: ' + category.created_at.strftime('%B %Y')
    %div= 'posts count: ' + category.posts.count.to_s

    - if current_user
      - if current_user.has_in_favourites?(category)
        %div= link_to 'remove from favourites', categories_show_remove_from_favourites_path(category.name), method: :post
      - else
        %div= link_to 'add to favourites', categories_show_add_to_favourites_path(category.name), method: :post
      