.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand{href: "../"} reddit
      %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar-main.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li{class: (current_page?(main_path) || current_page?(root_path)) && 'active'}
          = link_to 'main', main_path
        %li{class: current_page?(latest_path) && 'active'}
          = link_to 'new', latest_path
        %li{class: current_page?(hot_path) && 'active'}
          = link_to 'hot', hot_path
        %li{class: current_page?(posts_path) && 'active'}
          = link_to 'all', posts_path
        - if current_user
          %li{class: current_page?(favourites_path) && 'active'}
            = link_to 'favourites', favourites_path
          
      %ul.nav.navbar-nav.navbar-right
        -if user_signed_in?
          %li
            = link_to "Messages (#{current_user.mailbox.inbox(:unread => true).count} unread)", conversations_path
          %li
            = link_to current_user, user_path(current_user)
          %li
            = link_to 'Log out', destroy_user_session_path, method: :delete
        - else
          %li
            = link_to 'Sign in', new_user_session_path
          %li
            = link_to 'Sign up',  new_user_registration_path