!!!
%html
  %head
    %title reddit
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .container
      %div
        - if flash.notice
          .alert.alert-success{role: "alert"} 
            = flash.notice 
        - if flash.alert
          .alert.alert-danger{role: "alert"}
            = flash.alert

      .col-md-10
        = yield
      .col-md-2
        = render 'layouts/right'
        = yield :right